
  /* ------------------------------------------------------------- main image and navbar across all pages */


.mainimage {
    width: 100%;
    height: 400px;
}

body {
    background-color: #b2b2b2;
}

.navbar {
    margin: 0;
    border: 0;
    background-color: #b2b2b2;
    color: #d1d8e3;
    position: fixed;
    z-index: 10;
    width: 100%;
    
}

.symbol {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    margin-right: 5px;
}

h4 {
    color: #484f4f;
    font-family: 'Neucha', cursive;
    font-size: 40px;
    padding-top: 40px;
}


.span4.outset {
    padding-top: 55px;
    padding-left: 40px;
} 


  /* ------------------------------------------------------------- index.htmll */
  
.canyon {
    float: left;
    width: 300px;
    height: 300px;
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 30px;
    border: solid;
    border-color: #f4e1d2;
}

p {
    padding: 150px 50px 0 200px
   
}

.motel {
    float: right;
    width: 300px;
    height: 300px;
    margin-top: 120px;
    margin-left: 100px;
    margin-right: 30px;
    border: solid;
    border-color: #f4e1d2;
}

.enquiry {
    margin-top: 70px;
    margin-right: 40px;  
  
}

#article-content {
    padding: 40px;
    background-color: #fefbd8;
    margin: 70px;
    border: solid;
    border-color: #f4e1d2;
}

.row.article
.span9.outset {
    width: 90%;
    height: 90%;
    border-color: #c94c4c;
    border: 5px;
}

.span6.outset {
    width: 180px;
    background-color: #f4e1d2;
    height: 180px;
    box-sizing: border-box;
    margin-left: 350px;
    margin-top: 30px;
}

.span6.outset p {
    padding: 10px;
}

.enquiry-button {
    padding-left: 40px;
}

.span3.outset {
    width: 200px;
    height: 150px;
    
}


.attractions {
    width: 200px;
    height: 150px;

}


.label {

  height: 400px;
  width: 240px;
  text-align: center;
  background-color: #f18973;
  border-color: : #f4e1d2;
  border: 2px;
  

}


#row-of-labels {
padding-left: 50px;
padding-right: 50px;
margin-top: 50px;

}



.label img {

  height: 40%;

}


.label-body {

  border-top: 1px solid white;

}



.label-body h5 {

  font-family: 'Roboto', sans-serif;

  color: #e6e3df;

  margin-top: 15px;

}


.label-body p {
  font-family: 'Roboto', sans-serif;
  color: #c4c1bc;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 70px;

}





